    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Hello!</h1>
                        <p class="intro-text">Glad you've stopped by<br>Feel free to poke around</p>
                        <a href="#about" class="page-scroll">
                            <i class="fa fa-coffee animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
