    <section id="projects" class="projects container content-section text-center">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Projects</h2>
              <div class="col-lg-4">
                <h3><a href="/coffeedude">Coffeedude</a></h3>
                <p>2D platformer built using the <a href="http://phaser.io/">phaser</a> game engine and <a href="http://www.gimp.org/">gimP</a> for asset creation</p>
                <p>Explore the world as Abraham Lincoln, and defeat your greatest foe</p>
              </div>
              <div class="col-lg-4">
                <h3><a href="/temp">Temp</a></h3>
                <p>A temperature finder built with <a href="http://jacobdlewis.com/">Jacob Lewis</a> at NSS</p>
                <p>Uses the Weather Underground API, JavaScript, Foundation and Moment.js</p>
              </div>
              <div class="col-lg-4">
                <h3><a href="/cam">Cam</a></h3>
                <p>Live look in to the goings on of Humphreys Street</p>
                <p>Hosted on a RaspberryPi, streaming straight to you</p>
              </div>
          </div>
        </div>
    </section>
