    <section id="projects" class="projects container content-section text-center">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Projects</h2>
              <div class="col-lg-6">
                <h3><a href="http://www.luketlancaster.com/coffeedude">Coffeedude</a></h3>
                <p>2D platformer using the <a href="http://phaser.io/">phaser</a> game engine</p>
                <p>Explore the world as Abraham Lincoln, and defeat your greatest foe</p>
              </div>
              <div class="col-lg-6">
                <h3><a href="http://www.luketlancaster.com/temp">Temp</a></h3>
                <p>A temperature finder build with Jacob Lewis at NSS</p>
                <p>Built using the Weather Underground API and JavaScript</p>
              </div>
          </div>
        </div>
    </section>
